<div class="row">
  <h2>Edit <%= film.title %></h2>
  <form class="col l12" action="/films/<%= film._id %>" method="post">
    <input type="hidden" name="_method" value="PUT">
    <div class="input-field col l12">
      <input type="text" name="title" id="title_field" value="<%= film.title %>">
      <label for="title_field">Title</label>
    </div>
    <div class="input-field col l12">
      <input type="text" name="genre" id="genre_field" value="<%= film.genre %>">
      <label for="genre_field">Genre</label>
    </div>
    <div class="input-field col l12">
      <input type="url" name="photo" id="photo_field" value="<%= film.photo %>">
      <label for="photo_field">Photo</label>
    </div>
    <div class="input-field col l12">
      <input type="number" name="rating" id="rating_field" value="<%= film.rating %>">
      <label for="rating_field">Rating</label>
    </div>
    <div class="input-field col l12">
      <button class="green btn">Edit Film</button>
    </div>
  </form>
</div>
