<div class="row">
  <div class="margins">


  <% films.forEach(film => { %>
    <div class="col s12 m4 filmWidth" style="width: 15.25%;padding:10px;     box-sizing: content-box;">
        <a href="/films/<%= film._id %>">
        <div class="z-depth-3 card-image" style="background-image: linear-gradient(rgba(0,0,0,0), #1F1F1F), url(<%= film.photo %>); background-repeat: no-repeat; background-position: center; background-size: cover;" >
        <div class="title" ><%= film.title %></div>
        <div class="rating"> <img src="../images/star.svg" height="17px" /> <%= film.rating %> <div class="outOf10" >/ 10</div></div>
        </div>
        <a/>
        <div class="white-text" style="">
          <% /* %> <div class="genre" ><%= film.genre %></div>  <% */ %>
        </div>
    </div>

  <% }) %>


  <div class="col s12 m4 filmWidth" style="box-sizing: content-box; width: 15.25%; padding: 10px;">
    <a href="/films/new">
    <div class="addFilm z-depth-3 card-image" href="/films/new" style="background-image: linear-gradient(rgba(0,0,0,0), #1F1F1F);">
      <a href="/films/new" >
        <div class="buttoncontainer" href="/films/new">
            <div class="bg" href="/films/new"></div>
            <div class="button">
              Add Film Review
            </div>
      </div>
    </a>
  </div>
</a>


</div>
</div>
