
  <div class="topPaddingFilms margins2">
    <form method="POST" action="/films/<%= film._id %>">
        <ul class="editDelete">
          <input type="hidden" name="_method" value="delete">
          <li><a class="btn-floating red"><button class="btn-floating red"><i class="material-icons">delete</i></button></a></li>
          <li><a href="/films/<%= film._id %>/edit" class="editButton btn-floating blue"><i class="material-icons">mode_edit</i></a></li>
        </ul>
    </form>
    <div class="col s12 m4 filmWidth">
      <div class="filmContent">
        <div class="filmTitle" ><%= film.title %></div >
        <div class="filmGenre" ><%= film.genre %></div >
        <div class="filmRating" ><%= film.rating %></div ><div class="outOf10">/10</div>
        <div class="filmDirector" >Directed by <b><%= film.director %></b></div >
        <div class="filmWriters" >Written by <%= film.writers %></div >
        <div class="filmStars" >Starring <%= film.stars %></div >
        <div class="z-depth-3 filmTrailer" ><iframe width="440" height="195" src="<%= film.trailer %>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div >

      </div>
      <div class="z-depth-3 card-image" style="width: 250px;background-image: url(<%= film.photo %>); background-repeat: no-repeat; background-position: center; background-size: cover;width: 250px;height: 375px;" ></div>
      <div class="black-text" style="padding: 15px;"></div>
    </div>
  <div class='row2'>
    <div class="comments">
      <p>Comments</p>
      <form class="writePost col l12" action="/films/<%= film._id %>/reviews" method="post">
        <div class="input-field col l12">
          <textarea id="textarea2" data-length="400" class="white-text" type="text" name="content" id="comment_field" ></textarea>
          <label for="textarea2">Write a review</label>
          <button class="reviewButton blue btn"><i class="material-icons">format_quote</i></button>
        </div>
      </form>
    </div>

<%# //----------------------------SHOW Reviews---------------------------------- %>
  <% film.reviews.forEach(review => { %>
    <% film.title %>

      <div class="commentPost col s16 m16">
        <div class="card">
          <div class="review">
          <img class="profilePictureReviewPosition" src="<%= review.user.photo %>">

          <% if(locals.isLoggedIn && review.user && review.user.id === locals.user.id) { %>
          <form class="cross" action ="/films/<%= film._id %>/reviews/<%= review.id %>" method ="post">
          <input type="hidden" name="_method" value="delete">
          <button type="submit" class="closeButton" ><i class="material-icons">close</i></button>
          </form>
          <% } %>
            <ul class="userName" ><%= review.user.username %></ul>
            <ul class="content"><%= review.content %></ul>

          </div>
        </div>
      </div>
  <% }) %>


    </div>
  </div>
  <div class="backgroundImage" style="background-image: url('<%= film.backgroundImage %>'); height: 400px; width: 100%;">
  </div>
