<div class="row">
  <h2><%= film.title %></h2>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image" style="background-image: url(<%= film.photo %>); background-repeat: no-repeat; background-position: center; background-size: cover;" >
        </div>
        <div class="card-content">
        <div class="title black-text" ><%= film.title %></div>
        <div class="genre black-text" ><%= film.genre %></div>
        </div>
        <div class="card-action">
          <button class="green btn" href="/films/<%= film._id %>/edit" >Edit</button>

        <form method="POST" action="/films/<%= film._id %>">
          <input type="hidden" name="_method" value="delete">
          <button class="red btn">Delete</button>
        </form>
        </div>
      </div>
    </div>
</div>
